#hobbies-container {
    
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 2rem;
    
}

#about  h1{
    text-align: center;
    font-size: 5rem;
}


.about-card {
    display: flex;
    flex-direction: row;
    /* width: 60vw; */
    
}
.about-img {
    width: 5rem;
    height: 5rem;
}

.about-card-left {
    width: 30vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card-right {
    width: 50vw;
    height: 20vh;
    text-align: center;
}

